.chatting-content {
  padding: 0 40px;

  &__header {
    padding-bottom: 15px;
    border-bottom: 1.5px solid #ebe7fb;
  }

  &__body {
    height: calc(100vh - calc(100vh / 2));
    overflow: scroll;
  }

  &__footer {
    padding-top: 30px;
  }
}

.send-message {
  background-color: #e6e5ea;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}

.send-message button {
  width: 72px;
  height: 36px;
  background-color: #447cb1;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #4665ff;
  border-radius: 5px;
  line-height: 36px;
  color: white;
  transition: all 0.3s;
}
.send-message button:hover {
  transform: scale(1.1);
}

.send-message input {
  flex-grow: 1;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  outline: none;
}
ion-icon {
  color: #fff;
  display: inline-block;
}
