.active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(111, 218, 111);
  border: 2px solid #fff;
}

.off {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #ddd;
}

.user-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.chatlist__item {
  display: flex;
  border-bottom: 1px solid #ebe7fb;
  padding-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 10px 10px 20px;
}

.chatlist__item:first-child {
  margin-top: 0;
}

.chatlist__item:hover,
.chatlist__item.active {
  background: #fff;
  border-radius: 10px;
}
