.section {
  height: calc(100vh - 130px);
  width: 100%;
  padding: 2rem;

  .chatting {
    max-width: 80rem;
    margin: auto;
    background-color: #f4f3f8;
    border-radius: 10px;
    padding: 2rem;
    display: grid;
    grid-template-columns: 70fr 30fr;
    gap: 2rem;
  }
}
